// Variables and mixins
@import "../../../ui-styles/variables.scss";
@import "node_modules/spectre.css/src/mixins";
li {
  list-style: none;
}
.app-brand {
  color: $primary-color;
  height: 2rem;
  z-index: $zindex-4;

  .app-logo {
    align-items: center;
    border-radius: $border-radius;
    display: inline-flex;
    font-size: 0.7rem;
    height: 2rem;
    padding: 0.2rem;
    width: auto;

    &:focus,
    &:hover {
      text-decoration: none;
    }

    img {
      display: inline-block;
      height: auto;
      width: 1.6rem;
    }

    h2 {
      display: inline-block;
      font-size: 0.8rem;
      font-weight: 700;
      line-height: 1.5rem;
      margin-bottom: 0;
      margin-left: 0.5rem;
      margin-right: 0.3rem;
    }
  }
}
