// Variables and mixins
@import "../../../ui-styles/variables.scss";
@import "node_modules/spectre.css/src/mixins";

.s-title,
.s-subtitle {
  line-height: 1.8rem;
  margin-bottom: 0;
  padding: 0.5rem;
  position: static;

  @supports (position: sticky) {
    position: sticky;
    top: 2.8rem;
    z-index: $zindex-0 - 1;

    &::before {
      background: $light-color;
      bottom: 0;
      content: "";
      display: block;
      left: -10px;
      position: absolute;
      right: -10px;
      top: -5px;
      z-index: -$zindex-0;
    }
  }
  @media (min-width: 960px) {
    position: fixed;
    top: 0;
    left: 200px;
    z-index: $zindex-4;
  }
  &:hover {
    .anchor {
      display: inline;
    }
  }

  & + .app-note {
    margin-top: 0.4rem;
  }
  .anchor {
    color: $primary-color-light;
    display: none;
    margin-left: 0.2rem;
    padding: 0 0.2rem;
    &:focus,
    &:hover {
      display: inline;
      text-decoration: none;
    }
  }
}
